h1{
    background-color: rgb(196, 69, 90);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

body{
    background-color: rgb(209, 93, 112);
    color: white;
    font-size: 20px;
}

p{
background-color:rgb(209, 72, 129);
font-family: Georgia, 'Times New Roman', Times, serif;
}   