.Kayla {
    background-color:black;
    color: white;
}

.Karlen {
    background-color: seagreen;
}

.Kaylie {
    background-color: cornflowerblue;
}

.Jayvian{
    background-color: red;
    color: blue;
}

.Keyllyson{
    background-color: royalblue;
}


.Elijah{
    background-color: darkblue;
}

.Zion{
    background-color: purple;
}

.Jes{
    background-color: lightblue;
}

.Mariah{
    background-color:rgb(157, 112, 199);
}

.Anthony{
    background-color: rgb(92, 58, 15);
}

.Jahlil{
    background-color: green;
}

.Khloe{
    background-color: seashell;
}

.Zahier{
    background-color: blue;
}

.Randy{
    background-color: purple;
}